/* App.css */
/*.header {
    background-color: #f2f2f2;
    padding: 20px;
  } */

   .header {
    background-color: white;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color:#007bff;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: blueviolet;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #007bff;
  }

  /*
  .Header {
    display: grid;
    grid-template-areas: "logo nav";
  }
  .Nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(4 area);
  }
  */