.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: #ffffff;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1,5 rem;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 4rem;
  color:mediumblue;
}

.nav-link {
  text-decoration: none;
  color:lawngreen;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  background-color: #ddd;
  color: #977e7e;
}

.nav-brand:to:h1 {
  color:mediumblue;
}